*.class
target
*~
.project
.classpath
.settings
.properties
*.DS_Store
nbactions.xml
nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/workflow-rsem/target/
/decider-rsem/target/

